@mixin bg-color($colors, $complement-colors, $i) {
  background-color: nth($colors, $i);
  color: nth($complement-colors, $i);
}

@mixin color($colors, $complement-colors, $i) {
  color: nth($colors, $i);
  background-color: nth($complement-colors, $i);
}

@mixin colors($colors, $complements) {

  .bg-color {
    &-1 {
      @include bg-color($colors, $complements, 1);
    }

    &-2 {
      @include bg-color($colors, $complements, 2);
    }

    &-3 {
      @include bg-color($colors, $complements, 3);
    }

    &-4 {
      @include bg-color($colors, $complements, 4);
    }

    &-5 {
      @include bg-color($colors, $complements, 5);
    }

    &-success {
      @include bg-color($colors, $complements, 6);
    }

    &-validate {
      @include bg-color($colors, $complements, 6);
    }

    &-error {
      @include bg-color($colors, $complements, 7);
    }

    &-cancel {
      @include bg-color($colors, $complements, 7);
    }
  }

  .bg-secondary-color {
    &-1 {
      @include bg-color($complements, $colors, 1);
    }

    &-2 {
      @include bg-color($complements, $colors, 2);
    }

    &-3 {
      @include bg-color($complements, $colors, 3);
    }

    &-4 {
      @include bg-color($complements, $colors, 4);
    }

    &-5 {
      @include bg-color($complements, $colors, 5);
    }

    &-success {
      @include bg-color($complements, $colors, 6);
    }

    &-validate {
      @include bg-color($complements, $colors, 6);
    }

    &-error {
      @include bg-color($complements, $colors, 7);
    }

    &-cancel {
      @include bg-color($complements, $colors, 7);
    }
  }

  .shadowed {
    border: solid 1px;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5), inset 1px 1px 5px rgba(255, 255, 255, 0.5);
  }
}
