@mixin lato() {
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

@mixin latoBold() {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

@mixin courier() {
  font-family: "Courier Prime", "Andale Mono", monospace;
  font-weight: normal;
}

@mixin lemonada() {
  font-family: "Lemonada", "Comic Sans", sans-serif;
  font-weight: normal;
}

@mixin lemonadaLight() {
  font-family: "Lemonada", "Comic Sans", sans-serif;
  font-weight: lighter;
}

@mixin fonts() {
  .font-lato {
    @include lato();
  }
  .font-lato-bold {
    @include latoBold();
  }
  .font-courier {
    @include courier();
  }
  .font-lemonada {
    @include lemonada();
  }
  .font-lemonada-light {
    @include lemonadaLight();
  }
}

@mixin fontSizes($unit: 1px) {

  .font-size {
    &-6 {
      font-size: 6 * $unit;
    }

    &-7 {
      font-size: 7 * $unit;
    }

    &-8 {
      font-size: 8 * $unit;
    }

    &-9 {
      font-size: 9 * $unit;
    }

    &-10 {
      font-size: 10 * $unit;
    }

    &-11 {
      font-size: 11 * $unit;
    }

    &-12 {
      font-size: 12 * $unit;
    }
  }

  .explain {
    display: none;
  }
}

@mixin fontsStyle() {
  #site-content, button, input, select, option {
    font-family: "Lato", sans-serif;
  }

  pre {
    font-family: "Courier Prime", "Andale Mono", monospace
  }

  a {
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6, header, footer {
    font-family: "Lemonada", "Comic Sans", sans-serif;
    font-weight: normal;
  }

  li {
    list-style-type: none;
  }

  button, input, select, option, .main-nav ul li, .control {
    cursor: pointer;
  }
}