@import "Sizes";

@mixin rectangles($unit: 1px) {

  .h-rectangle {
    &-20 {
      @include width(20, $unit);
    }

    &-25 {
      @include width(25, $unit);
    }

    &-30 {
      @include width(30, $unit);
    }

    &-35 {
      @include width(35, $unit);
    }

    &-40 {
      @include width(40, $unit);
    }

    &-45 {
      @include width(45, $unit);
    }

    &-50 {
      @include width(50, $unit);
    }

    &-60 {
      @include width(60, $unit);
    }

    &-70 {
      @include width(70, $unit);
    }

    &-80 {
      @include width(80, $unit);
    }

    &-90 {
      @include width(90, $unit);
    }

    &-100 {
      @include width(100, $unit);
    }

    &-120 {
      @include width(120, $unit);
    }

    &-140 {
      @include width(140, $unit);
    }

    &-160 {
      @include width(160, $unit);
    }

    &-180 {
      @include width(180, $unit);
    }

    &-200 {
      @include width(200, $unit);
    }

    &-250 {
      @include width(250, $unit);
    }

    &-300 {
      @include width(300, $unit);
    }

    &-400 {
      @include width(400, $unit);
    }

    &-500 {
      @include width(500, $unit);
    }

    &-600 {
      @include width(600, $unit);
    }
  }
  .v-rectangle {
    &-20 {
      @include height(20, $unit);
    }

    &-25 {
      @include height(25, $unit);
    }

    &-30 {
      @include height(30, $unit);
    }

    &-35 {
      @include height(35, $unit);
    }

    &-40 {
      @include height(40, $unit);
    }

    &-45 {
      @include height(45, $unit);
    }

    &-50 {
      @include height(50, $unit);
    }

    &-60 {
      @include height(60, $unit);
    }

    &-70 {
      @include height(70, $unit);
    }

    &-80 {
      @include height(80, $unit);
    }

    &-90 {
      @include height(90, $unit);
    }

    &-100 {
      @include height(100, $unit);
    }

    &-120 {
      @include height(120, $unit);
    }

    &-140 {
      @include height(140, $unit);
    }

    &-160 {
      @include height(160, $unit);
    }

    &-180 {
      @include height(180, $unit);
    }

    &-200 {
      @include height(200, $unit);
    }

    &-250 {
      @include height(250, $unit);
    }

    &-300 {
      @include height(300, $unit);
    }

    &-400 {
      @include height(400, $unit);
    }

    &-500 {
      @include height(500, $unit);
    }

    &-600 {
      @include height(600, $unit);
    }
  }
}