@mixin reset() {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;

  div, nav, section, article, ul, li, button, input, select, option {
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6, hr, a, p, div, nav, section, article, ul, li, button, input, select {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.4em;
  }
  h3 {
    font-size: 1.3em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1.1em;
  }
  h6 {
    font-size: 1em;
  }

  button, input, select, option {
    border: none;
    box-shadow: none;
    background: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}