@import "Sizes";

@mixin hSeparators($unit: 1px) {
  hr {
    margin-bottom: 10 * $unit;
    margin-right: 0;
    margin-left: 0;

    &.big {
      margin-bottom: 20 * $unit;
    }

    &.tiny {
      margin-bottom: 5 * $unit;
    }
  }
}

@mixin paddings($unit: 1px) {
  .padding {
    &-5 {
      @include padding(5, $unit);
    }

    &-10 {
      @include padding(10, $unit);
    }

    &-20 {
      @include padding(20, $unit);
    }

    &-40 {
      @include padding(40, $unit);
    }
  }
  .padding-h {
    &-5 {
      @include padding-h(5, $unit);
    }

    &-10 {
      @include padding-h(10, $unit);
    }

    &-20 {
      @include padding-h(20, $unit);
    }

    &-40 {
      @include padding-h(40, $unit);
    }
  }
  .padding-right {
    &-5 {
      @include padding-right(5, $unit);
    }

    &-10 {
      @include padding-right(10, $unit);
    }

    &-20 {
      @include padding-right(20, $unit);
    }

    &-40 {
      @include padding-right(40, $unit);
    }
  }
  .padding-v {
    &-5 {
      @include padding-v(5, $unit);
    }

    &-10 {
      @include padding-v(10, $unit);
    }

    &-20 {
      @include padding-v(20, $unit);
    }

    &-40 {
      @include padding-v(40, $unit);
    }
  }
}

@mixin margins($unit: 1px) {
  .margin {
    &-5 {
      @include margin(5, $unit);
    }

    &-10 {
      @include margin(10, $unit);
    }

    &-20 {
      @include margin(20, $unit);
    }

    &-40 {
      @include margin(40, $unit);
    }
  }

  .margin-bottom {
    &-5 {
      @include margin-bottom(5, $unit);
    }

    &-10 {
      @include margin-bottom(10, $unit);
    }

    &-20 {
      @include margin-bottom(20, $unit);
    }

    &-40 {
      @include margin-bottom(40, $unit);
    }
  }

  .margin-bottom-right {
    &-5 {
      @include margin-bottom-right(5, $unit);
    }

    &-10 {
      @include margin-bottom-right(10, $unit);
    }

    &-20 {
      @include margin-bottom-right(20, $unit);
    }

    &-40 {
      @include margin-bottom-right(40, $unit);
    }
  }
}

@mixin separators($unit: 1px) {
  @include hSeparators($unit);
  @include paddings($unit);
  @include margins($unit);
}