@function convert($x, $unit: 1px) {
  @return ($x / 2) * $unit;
}

@mixin width($w, $unit: 1px) {
  width: convert($w, $unit);
}

@mixin height($h, $unit: 1px) {
  height: convert($h, $unit);
}

@mixin fixedWidth($w, $unit: 1px) {
  min-width: convert($w, $unit);
  max-width: convert($w, $unit);
  width: convert($w, $unit);
}

@mixin fixedHeight($w, $unit: 1px) {
  min-height: convert($w, $unit);
  max-height: convert($w, $unit);
  height: convert($w, $unit);
}

@mixin padding($p, $unit: 1px) {
  padding: convert($p, $unit);
}

@mixin padding-h($p, $unit: 1px) {
  padding: 0 convert($p, $unit);
}

@mixin padding-right($p, $unit: 1px) {
  padding-right: convert($p, $unit);
}

@mixin padding-v($p, $unit: 1px) {
  padding: convert($p, $unit) 0;
}

@mixin margin($m, $unit: 1px) {
  margin: convert($m, $unit);
}

@mixin margin-bottom-right($m, $unit: 1px) {
  margin-right: convert($m, $unit);
  margin-bottom: convert($m, $unit);
}

@mixin margin-bottom($m, $unit: 1px) {
  margin-bottom: convert($m, $unit);
}

@mixin radius($r, $unit) {
  border-radius: convert($r, $unit);
}