@import "Sizes";

@mixin square($c, $unit: 1px) {
  @include width($c, $unit);
  @include height($c, $unit);
}

@mixin squares($unit: 1px) {
  .square {
    &-20 {
      @include square(20, $unit);
    }

    &-25 {
      @include square(25, $unit);
    }

    &-30 {
      @include square(30, $unit);
    }

    &-35 {
      @include square(35, $unit);
    }

    &-40 {
      @include square(40, $unit);
    }

    &-45 {
      @include square(45, $unit);
    }

    &-50 {
      @include square(50, $unit);
    }

    &-60 {
      @include square(60, $unit);
    }

    &-70 {
      @include square(70, $unit);
    }

    &-80 {
      @include square(80, $unit);
    }

    &-90 {
      @include square(90, $unit);
    }

    &-100 {
      @include square(100, $unit);
    }

    &-120 {
      @include square(120, $unit);
    }

    &-140 {
      @include square(140, $unit);
    }

    &-160 {
      @include square(160, $unit);
    }

    &-180 {
      @include square(180, $unit);
    }

    &-200 {
      @include square(200, $unit);
    }

    &-250 {
      @include square(250, $unit);
    }

    &-300 {
      @include square(300, $unit);
    }

    &-400 {
      @include square(400, $unit);
    }

    &-500 {
      @include square(500, $unit);
    }

    &-600 {
      @include square(600, $unit);
    }
  }
}