#site-content {
  .inventory-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .inventory-block {
    display: flex;
    flex-direction: column;
  }

  @mixin alternateColors() {
    &:nth-child(2n) {
      background-color: gray;
    }
    &:nth-child(2n + 1) {
      background-color: darkgray;
    }
  }

  .inventory-wireframe {
    > div {
      border: solid 1px black;
      @include alternateColors();
      margin: 5px;
      min-height: 10px;
      min-width: 10px;
      overflow: hidden;
    }
  }
}