@mixin grid-12-items() {
  @for $x from 0 through 12 {
    @for $y from 0 through 12 {
      @for $w from 1 through (12-$x) {
        @for $h from 1 through (12-$y) {
          .grid-12-item-#{$x}-#{$y}-#{$w}-#{$h} {
            grid-column-start: $x + 1;
            grid-column-end: $x + $w + 1;
            grid-row-start: $y + 1;
            grid-row-end: $y + $h + 1;
          }
        }
      }
    }
  }
}

@mixin gridLayout() {
  .grid-12-container {
    display: grid;
    grid-template-rows: repeat(12, 8.33%);
    grid-template-columns: repeat(12, 8.33%);
    overflow: hidden;

    @include grid-12-items()
  }
}

