@mixin flexLayouts() {
  /** a succession of little elements, well aligned */
  .flex-row-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: flex-start;
  }

  .flex-horizontal-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .flex-masonry {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
  }

  /** center the content of a fixed sized box */
  .flex-vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .flex-vertical-spacing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .flex-one-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow-y: auto;
  }

  .flex-two-column {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    justify-items: stretch;

    > div, > section, > article, > header, > footer {
      width: 50%;
    }
  }

  /**
   * Surrounding a flex;column element, this will avoid it's children to have a width of 100%
   * example :
   * <div style='display: flex; flex-direction: column'>
   *   <div> .... </div> <!-- resulting in 100% width -->
   * </div>
   *
   * <div class='flex-adaptive-width'>
   *   <div style='display: flex; flex-direction: column'>
   *     <div> .... </div> <!-- resulting in a width that fit content -->
   *   </div>
   * </div>
   */
  .flex-adaptive-width {
    display: flex;
  }
}