@import "../Bases/Sizes";

@mixin fullDivAtTop($h, $unit: 1px) {
  position: absolute;
  top: convert($h, $unit);
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

@mixin fullDiv() {
  width: 100%;
  height: 100%;
}

@mixin pageLayouts($unit: 1px) {
  #one-bar-layout-container {
    #root-section {
      @include fullDivAtTop(60, $unit);
    }
  }

  #two-bar-layout-container {
    #root-section {
      @include fullDivAtTop(120, $unit);
    }
  }

  .full-div {
    @include fullDiv();
  }
}

@mixin navsLayouts() {
  .main-nav, .action-nav, .tool-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    ul {
      display: flex;
      flex-direction: row;
      align-items: stretch;

      li {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
    }
  }

  .action-nav, .tool-nav {
    justify-content: flex-end;
  }
}