@import "../Bases/Sizes";

@mixin formControlSizes($unit: 1px, $verbose: false) {
  padding: auto;
  @include height(40, $unit);

  &.container-icon {
    @if ($verbose) {
      min-width: convert(40, $unit);
      padding-left: convert(10, $unit);
      padding-right: convert(10, $unit);
    } @else {
      @include width(40, $unit);
    }
  }
  .icon {
    font-size: convert(20, $unit);
  }
  &:not(.container-icon) {
    padding-left: convert(10, $unit);
    padding-right: convert(10, $unit);
  }

  a {
    display: flex;
  }
  .explain {
    margin-left: convert(5, $unit);
  }
}

@mixin formControlLittleSizes($unit: 1px) {
  padding: auto;
  @include height(30, $unit);

  &.container-icon {
    @include width(30, $unit);
  }
  .icon {
    font-size: convert(20, $unit);
  }
  &:not(.container-icon) {
    padding-left: convert(10, $unit);
    padding-right: convert(10, $unit);
  }

  .explain {
    display: none;
  }
}


@mixin navSizes($unit: 1px, $verbose: false) {
  .main-nav {

    @include fixedHeight(60, $unit);

    ul {
      margin: 0;
      @include padding(10, $unit);

      li {
        @include radius(5, $unit);
      }

      &.first-main-menu li {
        margin-right: convert(5, $unit);
      }

      &.second-main-menu li {
        margin-left: convert(5, $unit);
      }
    }
  }

  .main-nav ul li, button, input, select, option {
    @include formControlSizes($unit, $verbose);
  }
  .tool-nav ul li {
    @include formControlLittleSizes($unit);
  }
  input[type="number"] {
    width: convert(60, $unit);
  }

  .action-nav button {
    @include radius(5, $unit);
    margin-left: convert(5, $unit);
  }
}