@import "Bases/Circles";
@import "Bases/Colors";
@import "Bases/Feedback";
@import "Bases/Fonts";
@import "Bases/Rectangles";
@import "Bases/Reset";
@import "Bases/Separators";
@import "Bases/Squares";
@import "Bases/Sizes";

@import "Layouts/LayoutFlexBoxes";
@import "Layouts/LayoutGrid";
@import "Layouts/Layouts";
@import "Layouts/Navs";

$theme-size-unit-little: 1.2px;
$theme-size-unit-default: 1.6px;
$theme-size-unit-large: 3px;

$theme-colors-inventory: #EFEFEF, #DCDCDC, #D3D3D3, #EAEAEA, #C0C0C0, #0C0C0C, #010101;
$theme-complement-colors-inventory: #0C0C0C, #0C0C0C, #0C0C0C, #0C0C0C, #0C0C0C, #A9A9A9, #9E9E9E;

$theme-colors-final: #FEFEFE, #FCFBF9, #FAF9FC, #ECFCCC, #CDFCC9, #9EFC97, #FCA497;
$theme-complement-colors-final: #0C0C0C, #0C0C0C, #0C0C0C, #0C0C0C, #0C0C0C, #0C0C0C, #0C0C0C;

$theme-colors-light-yellow-pink: white, #F2E6E7, #C1B49B, white, white, #9BC19B, #B4C19B;
$theme-complement-colors-light-yellow-pink: #332828, #332828, #332828, #332828, #332828, #283328, #2F3328;

$theme-colors-low-sat-pink: #333030, #666060, #999191, #CCC1C1, #CCC1C1, #02CC52, #CC027B;
$theme-complement-colors-low-sat-pink: #EAE6F2, #EAE6F2, #EAE6F2, #0B0A0C, #0B0A0C, #EAE6F2, #EAE6F2;

$theme-colors-low-sat-pink-joy: #333030, #666060, #999191, #CCFFE8, #CCEAFF, #B7FF99, #FF9999;
$theme-complement-colors-low-sat-pink-joy: #EAE6F2, #EAE6F2, #EAE6F2, #0B0A0C, #0B0A0C, #0B0A0C, #0B0A0C;

$theme-colors-mono-orange: #FEFEFE, #FCF7ED, #FCFBF9, #FCEED4, #FCEAC7, #A9FC02, #FCFC02;
$theme-complement-colors-mono-orange: #332407, #332407, #332407, #332407, #332407, #0C0C0C, #0C0C0C;

$theme-colors-rainbow: #FEFEFE, #FCFCC9, #F6F6F6, #C9E8FC, #E897FC, #97FCBF, #FC9797;
$theme-complement-colors-rainbow: #660101, #516601, #016629, #012966, #510166, #0C0C0C, #0C0C0C;

$theme-colors-rainbow-dark: #474646, #302F2F, #323233, #191919, #191919, #C9FCDE, #FCC9C9;
$theme-complement-colors-rainbow-dark: #FCF9FB, #FBF9FC, #C9FCDE, #C9FCDE, #F2C9FC, #0C0C0C, #0C0C0C;

$theme-colors-black-and-white: white, #E6EEF2, #9BB4C1, #92ABB7, white, #4DC14D, #C14D4D;
$theme-complement-colors-black-and-white: #0C0C0C, #0C0C0C, #0C0C0C, #0C0C0C, #0C0C0C, #0C0C0C, #0C0C0C;

@mixin sizes($unit: 1px) {
  @include squares($unit);
  @include rectangles($unit);
  @include circles($unit);
  @include separators($unit);

  @include fontSizes($unit);
  @include navSizes($unit, false);

  @include pageLayouts($unit);
}

#site-content {

  @include reset();
  @include fonts();
  @include fontsStyle();
  @include flexLayouts();
  @include gridLayout();
  @include navsLayouts();

  .little {
    @include sizes($theme-size-unit-little);
  }

  .default {
    @include sizes($theme-size-unit-default);
  }

  .large {
    @include sizes($theme-size-unit-large);
  }

  .inventory {
    @include colors($theme-colors-inventory, $theme-complement-colors-inventory);
  }

  .default-light {
    @include colors($theme-colors-final, $theme-complement-colors-final);
  }

  .rainbow-light {
    @include colors($theme-colors-rainbow, $theme-complement-colors-rainbow);
  }

  .rainbow-dark {
    @include colors($theme-colors-rainbow-dark, $theme-complement-colors-rainbow-dark);
  }

  .mono-orange {
    @include colors($theme-colors-mono-orange, $theme-complement-colors-mono-orange);
  }

  .low-sat-pink {
    @include colors($theme-colors-low-sat-pink, $theme-complement-colors-low-sat-pink);
  }

  .low-sat-pink-joy {
    @include colors($theme-colors-low-sat-pink-joy, $theme-complement-colors-low-sat-pink-joy);
  }

  .light-yellow-pink {
    @include colors($theme-colors-light-yellow-pink, $theme-complement-colors-light-yellow-pink);
  }

  .white-and-black {
    @include colors($theme-colors-black-and-white, $theme-complement-colors-black-and-white);
  }
}